@charset "utf-8";
/* CSS Document */
html{font-size:16px;width:100%;height:100%;}
body{
width:100%;height:100%;padding:0;
margin:0;background-color:#F1F1F1;
font-family:'微软雅黑';
overflow:hidden;
padding:0;
}
.tabPanel-iframe{
border:0px none; height:100%; width:100%; 
min-height: 400px; min-width: 900px; overflow: auto;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding:0;
}